<div class="seletor">
    <div class="seletor__item">
        <span class="seletor__item--label">Tipo:</span>
        <select class="seletor__item--input" [(ngModel)]="tipoSelecionado" >
            <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo.nome}}</option>
        </select>
    </div>
    <div class="seletor__item">
        <span class="seletor__item--label">Pokémon:</span>
        <select class="seletor__item--input" [(ngModel)]="pokemonSelecionado" >
            <option *ngFor="let pokemon of pokemons" [ngValue]="pokemon">{{pokemon.nome}}</option>
        </select>
    </div>
</div>