<div class="cabecalho">
    <div class="cabecalho__titulo">
        <img class="cabecalho__titulo--tela-larga" src="assets/titulo.png" />
        <img class="cabecalho__titulo--tela-curta" src="assets/titulo_short.png" />
    </div>
</div>

<div class="campo">
    <div class="campo__lateral">
        <pokemon-selector class="campo__lateral--selector"></pokemon-selector>
        <pokemon-picture class="campo__lateral--picture"></pokemon-picture>
    </div>
    <div class="campo__centro">
        <pokemon-result class="campo__centro--result"></pokemon-result>
    </div>
    <div class="campo__lateral">
        <pokemon-selector class="campo__lateral--selector"></pokemon-selector>
        <pokemon-picture class="campo__lateral--picture"></pokemon-picture>
    </div>
</div>